In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
resources = pd.read_csv('resources.csv')

/home/suryavamsi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1
1,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1,0
2,p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5,1
3,p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16,0
4,p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health & Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,NaN,NaN,My students need a water filtration system for...,42,1

In [4]:
test.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects
0,p233245,5724a0c3ce11008366fff36dab4b943c,Ms.,CA,2016-04-27 13:45:41,Grades PreK-2,Music & The Arts,Visual Arts,Art Will Make You Happy!,My 2nd grade students are amazing! They are v...,My class is made up of 12 boys and 12 girls. ...,My second grade class will really benefit from...,The genorous donations to my project will make...,My students need a drying rack for their art p...,2
1,p096795,445619941dc7cbe81c7be109dc61a56a,Mrs.,SC,2016-04-28 12:43:56,Grades 3-5,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Keeping up with the TIMEs,Students within the classroom work in small gr...,My students are all very talented young indivi...,"We do a lot of small group, where the student ...",This project is very important to my classroom...,My students need Time Magazines for next year ...,1
2,p236235,e92a4902b1611a189643d6f12c51e6a0,Mrs.,SC,2016-04-29 21:16:05,Grades PreK-2,Math & Science,"Applied Sciences, Mathematics",Building Bridges to Problem Solving,My students share a love of learning. These s...,My class consists of 14 energetic learners. O...,These Fairy Tale Problem Solving STEM kits wil...,These materials will be help my students with ...,My students need to be mentally stimulated to ...,0
3,p233680,8e92622d2985d3faac1de71609c4be72,Mrs.,IA,2016-04-27 22:32:43,Grades PreK-2,Literacy & Language,Literacy,Classroom Library,Reading is the gateway to the soul. Guiding c...,First graders enter the classroom each day rea...,Book bins will help to organize our classroom ...,"When students begin the first grade, many are ...",My students need an organized classroom library.,0
4,p171879,91a3c89981f626d9a0d067c65fb186ce,Mr.,CA,2016-04-27 18:59:15,Grades 6-8,"Music & The Arts, Special Needs","Performing Arts, Special Needs",Reeds so we can Read,"\""Mr. Reyes! I need another reed!\"" I hear t...",We have a diverse population with almost entir...,Each day in my class students consume supplies...,My students come from very troubled homes and ...,My students need reeds to perform in class eac...,1

In [5]:
resources.head()

,id,description,quantity,price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95

In [6]:
print('Shape of train->', train.shape, 'Shape of test->', test.shape, 'Shape of resources->', resources.shape)

Shape of train-> (182080, 16) Shape of test-> (78035, 15) Shape of resources-> (1541272, 4)

In [7]:
resources['total_cost'] = resources['quantity'] * resources['price']

In [8]:
resources.head()

,id,description,quantity,price,total_cost
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95,44.85
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59,27.18
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95,74.85

In [9]:
resources_cost = resources.groupby(by = 'id', sort = False)['total_cost'].sum().reset_index()

In [10]:
resources_cost

             id  total_cost
0       p233245      149.00
1       p069063      202.49
2       p096795      238.34
3       p149007     1078.44
4       p236235      298.00
5       p052460      516.00
6       p233680      350.66
7       p245718      599.96
8       p171879      393.62
9       p163637      298.38
10      p016071      546.55
11      p053575      372.09
12      p045923      353.65
13      p178697      989.94
14      p099906     1249.75
15      p200236      348.00
16      p129452      202.91
17      p186652      385.19
18      p257992      199.96
19      p098846      353.56
20      p202210      286.01
21      p243112      169.96
22      p055177      407.96
23      p169496      229.99
24      p032656      480.05
25      p069502      263.72
26      p100425      387.76
27      p003483      371.58
28      p099455      314.84
29      p226195      159.18
...         ...         ...
260085  p004374      487.75
260086  p047001      208.50
260087  p007537      374.32
260088  p021800      144.94
260089  p222440      330.87
260090  p135892     1016.60
260091  p155503      101.02
260092  p151381     1432.50
260093  p114541      409.85
260094  p089840      480.05
260095  p183993      278.98
260096  p235673      209.83
260097  p116343      261.20
260098  p178595      153.00
260099  p180632      310.75
260100  p011156      837.72
260101  p210728      318.27
260102  p017187     1894.99
260103  p060531      373.20
260104  p111291      348.90
260105  p079200      270.06
260106  p088056      268.48
260107  p187432      744.39
260108  p149426      299.00
260109  p238803      314.97
260110  p087783      416.52
260111  p086116     4320.13
260112  p228679      137.95
260113  p183340      246.59
260114  p031981      114.90

[260115 rows x 2 columns]

In [11]:
train_resources = pd.merge(train, resources_cost, on = 'id')
test_resources = pd.merge(test, resources_cost , on = 'id')

In [12]:
train_resources.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved,total_cost
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1,899.94
1,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1,0,400.00
2,p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5,1,469.99
3,p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16,0,684.47
4,p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health & Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,NaN,NaN,My students need a water filtration system for...,42,1,711.00

In [13]:
test_resources.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,total_cost
0,p233245,5724a0c3ce11008366fff36dab4b943c,Ms.,CA,2016-04-27 13:45:41,Grades PreK-2,Music & The Arts,Visual Arts,Art Will Make You Happy!,My 2nd grade students are amazing! They are v...,My class is made up of 12 boys and 12 girls. ...,My second grade class will really benefit from...,The genorous donations to my project will make...,My students need a drying rack for their art p...,2,149.00
1,p096795,445619941dc7cbe81c7be109dc61a56a,Mrs.,SC,2016-04-28 12:43:56,Grades 3-5,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Keeping up with the TIMEs,Students within the classroom work in small gr...,My students are all very talented young indivi...,"We do a lot of small group, where the student ...",This project is very important to my classroom...,My students need Time Magazines for next year ...,1,238.34
2,p236235,e92a4902b1611a189643d6f12c51e6a0,Mrs.,SC,2016-04-29 21:16:05,Grades PreK-2,Math & Science,"Applied Sciences, Mathematics",Building Bridges to Problem Solving,My students share a love of learning. These s...,My class consists of 14 energetic learners. O...,These Fairy Tale Problem Solving STEM kits wil...,These materials will be help my students with ...,My students need to be mentally stimulated to ...,0,298.00
3,p233680,8e92622d2985d3faac1de71609c4be72,Mrs.,IA,2016-04-27 22:32:43,Grades PreK-2,Literacy & Language,Literacy,Classroom Library,Reading is the gateway to the soul. Guiding c...,First graders enter the classroom each day rea...,Book bins will help to organize our classroom ...,"When students begin the first grade, many are ...",My students need an organized classroom library.,0,350.66
4,p171879,91a3c89981f626d9a0d067c65fb186ce,Mr.,CA,2016-04-27 18:59:15,Grades 6-8,"Music & The Arts, Special Needs","Performing Arts, Special Needs",Reeds so we can Read,"\""Mr. Reyes! I need another reed!\"" I hear t...",We have a diverse population with almost entir...,Each day in my class students consume supplies...,My students come from very troubled homes and ...,My students need reeds to perform in class eac...,1,393.62

In [14]:
del train
del test
del resources

In [15]:
train_resources.describe()

,teacher_number_of_previously_posted_projects,project_is_approved,total_cost
count,182080.000000,182080.000000,182080.000000
mean,11.237055,0.847682,545.748958
std,28.016086,0.359330,548.198713
min,0.000000,0.000000,100.000000
25%,0.000000,1.000000,245.997500
50%,2.000000,1.000000,397.750000
75%,9.000000,1.000000,691.920000
max,451.000000,1.000000,15299.690000

In [16]:
y_train = train_resources['project_is_approved']
train_resources.drop(columns = ['project_is_approved'], inplace = True)

In [17]:
y_train.shape

(182080,)

In [18]:
from sklearn.preprocessing import LabelEncoder

encode = LabelEncoder()
categorical_columns = ['school_state', 'project_grade_category']
for label in categorical_columns:
    train_resources[label] = encode.fit_transform(train_resources[label])
    test_resources[label] = encode.fit_transform(test_resources[label])

In [19]:
train_resources.isnull().sum()

id                                                   0
teacher_id                                           0
teacher_prefix                                       4
school_state                                         0
project_submitted_datetime                           0
project_grade_category                               0
project_subject_categories                           0
project_subject_subcategories                        0
project_title                                        0
project_essay_1                                      0
project_essay_2                                      0
project_essay_3                                 175706
project_essay_4                                 175706
project_resource_summary                             0
teacher_number_of_previously_posted_projects         0
total_cost                                           0
dtype: int64

In [20]:
train_resources.fillna(value= '', inplace = True)
test_resources.fillna(value = '', inplace = True)

In [21]:
train_resources['project_essays'] = train_resources[['project_essay_1', 'project_essay_2', 'project_essay_3', 'project_essay_4']].apply(lambda x: ' '.join(x), axis = 1)
test_resources['project_essays'] = test_resources[['project_essay_1', 'project_essay_2', 'project_essay_3', 'project_essay_4']].apply(lambda x: ' '.join(x), axis = 1)

In [22]:
train_resources['project_subjects'] = train_resources[['project_subject_categories', 'project_subject_subcategories']].apply(lambda x: ' '.join(x), axis = 1)
test_resources['project_subjects'] = test_resources[['project_subject_categories', 'project_subject_subcategories']].apply(lambda x: ' '.join(x), axis = 1)

In [23]:
encode = LabelEncoder()

train_resources['project_subjects'] = encode.fit_transform(train_resources['project_subjects'])
test_resources['project_subjects'] = encode.fit_transform(test_resources['project_subjects'])

In [24]:
train_resources['teacher_prefix'] = encode.fit_transform(train_resources['teacher_prefix'])
test_resources['teacher_prefix'] = encode.fit_transform(test_resources['teacher_prefix'])

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(ngram_range = (1, 2))
train_project_essays = tf.fit_transform(train_resources['project_essays'])
test_project_essays = tf.fit_transform(test_resources['project_essays'])
train_project_resource = tf.fit_transform(train_resources['project_resource_summary'])
test_project_resource = tf.fit_transform(test_resources['project_resource_summary'])

In [26]:
train_resources['project_submitted_datetime'] = pd.to_datetime(train_resources['project_submitted_datetime'])
test_resources['project_submitted_datetime'] = pd.to_datetime(test_resources['project_submitted_datetime'])

In [27]:
train_resources['date'] = train_resources['project_submitted_datetime'].dt.date
train_resources['year'] = train_resources['project_submitted_datetime'].dt.year
train_resources['month'] = train_resources['project_submitted_datetime'].dt.month
train_resources['hours'] = train_resources['project_submitted_datetime'].dt.hour
train_resources['minutes'] = train_resources['project_submitted_datetime'].dt.minute
train_resources['seconds'] = train_resources['project_submitted_datetime'].dt.second

test_resources['date'] = test_resources['project_submitted_datetime'].dt.date
test_resources['year'] = test_resources['project_submitted_datetime'].dt.year
test_resources['month'] = test_resources['project_submitted_datetime'].dt.month
test_resources['hours'] = test_resources['project_submitted_datetime'].dt.hour
test_resources['minutes'] = test_resources['project_submitted_datetime'].dt.minute
test_resources['seconds'] = test_resources['project_submitted_datetime'].dt.second

In [28]:
final_columns = ['school_state','teacher_prefix', 'year', 'month', 'hours', 'minutes', 'seconds', 'project_grade_category', 'total_cost']

In [29]:
from scipy.sparse import hstack, csr_matrix

X_train_full = csr_matrix(hstack([train_resources[final_columns].values,train_project_essays,train_project_resource]))
X_test_full = csr_matrix(hstack([test_resources[final_columns].values,test_project_essays,test_project_resource]))

In [31]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

clf_1 = MultinomialNB()
clf_2 = SVC()
clf_3 = RandomForestClassifier()
clf_4 = LogisticRegression()

print('Classifier 3: Random Forest')
print('=============Training================')
clf_3 = clf_3.fit(X_train_full, y_train)
print('=============Predicting==============')
y_test_3 = clf_3.predict_proba(X_test_full)[:,1]
print(y_test_3)
output = pd.concat([pd.DataFrame({'id':test_resources['id']}), pd.DataFrame(y_test_3, columns = ['project_is_approved'])], axis =1)
output.to_csv('random_forest_submission.csv', index = False)
print('Accuracy of Random Forest after submission on Kaggle = ')

Classifier 3: Random Forest
=============Training================
=============Predicting==============

ValueError: Number of features of the model must match the input. Model n_features is 2886468 and input n_features is 1790174